body {
  min-height: 100svh;
}
main,
header > nav,
footer > * {
  width: 100%;
  /* max-width: 1120px; */
  margin-inline: auto;
}

main {
  overflow: hidden;
  padding-inline: 3vw;
}

@media screen and (min-width:768px) {
  main{
      padding-inline:4vw
    }}