---
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout>

    <section>    
        <h1>This site is under construction</h1>
        
        <h2>Gå tilbage til Services siden <a href="/services" class="underline-animation">HER</a></h2>
    </section>
    
</MainLayout>

<style>
    section{
    min-height: 75vh;
    place-self: center;
    text-align: center;
    }

    h1,h2{
        margin: 64px;
    }

</style>

