---
import MainLayout from "../layouts/MainLayout.astro";
import ButtonBack from "../components/ButtonBack.astro";
import ButtonPortfolio from "../components/ButtonPortfolio.astro";
import Hero from "../components/Hero.astro";
import InstagramFeed from "../components/InstagramFeed.astro";
import FrontService from "../components/FrontService.astro";
---

<MainLayout>
  <h1>MAKSOFILM</h1>
  <h3 class="h3-1">Din professionelle videopartner</h3>
  <Hero />
  <div class="portfolio-underline"></div>

  <h2 class="section-title">HVEM ER MAKSOFILM?</h2>
  <div class="grid_1_1">
    <div class="left-column">
      <div class="billede">
        <img class="profilbillede" src="src/assets/img/profilbillede.webp" alt="Profilbillede" />
      </div>
    </div>
    <div class="right-column">
      <p>MAKSOFILM er et film- og medieproduktionsselskab drevet af passion for den gode fortælling og det ærlige udtryk. Vi skaber visuelt stærke og følelsesladede film, der taler til både hjerte og tanke – uanset om det er dokumentarer, reklamer, musikvideoer eller kampagnefilm.</p>
      <ButtonPortfolio />
    </div>
  </div>

  <div class="portfolio-underline"></div>
  <h2>MAKSOFILM løser opgaven</h2>
  <p id="p2">Et samarbejde med MAKSOFILM betyder en professionel videoproduktion og redigering. Vi samskaber og jeg kan sparre på og løse dine tanker. Lad os bringe dine ideer til live!</p>
  <FrontService />
    <div class="portfolio-underline3"></div>
  <h2 class="insta">Hold dig opdateret på @maksofilm</h2>
  <InstagramFeed />
  </MainLayout>

  <style>
    h1 {
      margin-top: 2rem;
      text-align: center;
    }

    h2 {
      margin-bottom: 1rem;
    }

    .h3-1 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .insta {
      text-align: center;
      margin: 0rem 0 1.5rem 0;
      letter-spacing: 1px; /
    }
    .section-title {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .portfolio-underline {
      align-self: center;
      height: 2px;
      background-color: white;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .grid_1_1 {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }


    .left-column,
    .right-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .profilbillede {
      width: 100%;
      height: auto;
      max-width: 400px;
      border: 3px solid var(--primary-color);
      border-radius: 3px;
    }

    .portfolio-underline3 {
      align-self: center;
      height: 2px;
      background-color: white;
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-bottom: 3rem;
    }

    @media (min-width: 768px) {
      .grid_1_1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        align-items: start;
        margin-left: 4rem;
        margin-right: 8rem;
        margin-bottom: 2.5rem;
      }
      h2 {
        margin-left: 4rem;
      }

    #p2{
      margin-left: 4rem;
      margin-right: 10rem;
    }

    .right-column p{
      margin-top: 5rem;
      margin-left: 1rem;
      max-width: 60ch;
text-align: center;
    }

    .right-column{
       margin-left: 3rem;
    }
      .section-title,
      .portfolio-underline,
      .thin {
        margin-left: 4rem;
        margin-right: 4rem;
      }
      .portfolio-underline3 {
        margin-left: 4rem;
        margin-right: 4rem;
  
      }
    }
  </style>

