---
import MainLayout from "../layouts/MainLayout.astro";
import Form from "../components/KontaktForm.astro";
---

<MainLayout>
  <h1 class="title underline">Lad os samarbejde!</h1>
  <section class="grid_1_1_kontakt">
      <div class="info">
        <h2>Generel henvendelse:</h2>
        <h3>kontakt@maksofilm.dk</h3>
        <h3>+45 00 00 00 00</h3>
      </div>
        <Form class="form"/>
    </div>
  </section>
</MainLayout>

<style>
.title.underline{
  margin: 0;
  text-align: center;
}
  .grid_1_1_kontakt {
    display: grid;
    margin-bottom: 40px;
    text-align: center;
    /* place-items: center; */
  }

  .info>h3 {
    font-size: 1.25rem;
    margin-top: 8px;
  }

  .info {
    margin: 4px 0 48px;
  }
  .info>h2 {
        font-size: 1.75rem;
      }

  @media (min-width: 975px) {
    .grid_1_1_kontakt {
      display: grid;
      grid-template-columns: 2fr 5fr;
      gap: 32px;
      text-align: left;
      place-items: start;
    }
    .title{
      place-self: start;
      grid-column: span 2;
    }
    .info {
      text-align: left;
      margin-top: 0.2rem;
      margin-bottom: 0;
      max-width: 400px;
    }
  }
</style>
