---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
---

<MainLayout>
  <div class="portfolio-center">
    <h1 class="portfolio-title">PORTFOLIO</h1>
  </div>
  <Card />
</MainLayout>

<style>
  .portfolio-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .portfolio-title {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
  }

  .portfolio-title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: white;
    margin-top: 0.5rem;
    width: 120%;
    transform: translateX(-9%);
  }
</style>
