---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Filter from "../components/Filter.astro";
---

<MainLayout>
  <h1 class="underline">PORTFOLIO</h1>
  <Filter />
  <Card />
</MainLayout>

<style></style>
