---
import MainLayout from "../layouts/MainLayout.astro";
import ServicesCards from "../components/ServicesCards.astro";
---

<MainLayout>
      <h1 class="underline">SERVICES</h1>
  <ServicesCards />
  <div class="line-copy">
    <span></span>
  </div>
</MainLayout>

<style>
.line-copy{
  place-self: center;
}
  .line-copy>span {
    display: inline-block;
    width: 230px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 40px auto;
  }

</style>
