---
import MainLayout from "../layouts/MainLayout.astro";
import ServicesCards from "../components/ServicesCards.astro";
---

<MainLayout>
  <div class="service-wrapper">
    <div class="h1-center">
      <h1 class="h1-title">SERVICES</h1>
    </div>
    <div class="h1-underline"></div>
  </div>
  <ServicesCards />
  <div class="service-wrapper">
    <div class="h1-underline2"></div>
  </div>
</MainLayout>

<style>
  .h1-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .h1-title {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .h1-underline,
  .h1-underline2 {
    height: 2px;
    background-color: white;
    margin: 0 auto;
    width: 20rem;
  }

  .h1-underline {
    margin-bottom: 2rem;
  }

  .h1-underline2 {
    margin: 4rem auto 5rem;
  }

  @media (min-width: 990px) {
    .h1-underline,
    .h1-underline2 {
      width: 30rem;
    }
  }
</style>
