---
const {text, link} = Astro.props
---
<a href={link} class="button-link">{text}</a>

<style>
  .button-link {
    width: 45vw;
    min-width: 180px;
    max-width: 250px;
    margin-inline: auto;
    text-align: center;
    padding: 8px 3vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-size: clamp(1.3rem, 1.8vw, 1.5rem);
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  .button-link:hover {
    transform: scale(1.05);
    background-color: var(--hover-color) }

    @media screen and (min-width: 768px){

      .button-link{
        width: 25vw;
        max-width: 285px;
        margin-inline: auto;
      }
      
    }
</style>
