<div class="back-button-wrapper">
  <a
    href="/portfolio"
    class="back-button"
    aria-label="Gå tilbage til portefølje"
  >
    <svg
      width="38"
      height="19"
      viewBox="0 0 38 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
    >
      <path
        d="M0.621595 8.88514C0.160856 9.37773 0.20145 10.172 0.712266 10.6591L9.0365 18.5978C9.54731 19.0849 10.3349 19.0805 10.7957 18.5879C11.2564 18.0953 11.2158 17.3011 10.705 16.8139L3.30567 9.75735L9.97961 2.62197C10.4404 2.12938 10.3998 1.33514 9.88894 0.847982C9.37812 0.360829 8.59052 0.36524 8.12978 0.857835L0.621595 8.88514ZM37.1666 9.5677L37.1025 8.3133L1.4824 8.5128L1.54651 9.76721L1.61062 11.0216L37.2308 10.8221L37.1666 9.5677Z"
        fill="#FFE8BD"></path>
    </svg>
  </a>
</div>

<style>
  .back-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 1.2rem auto 2rem;
  }

  .back-button {
    background-color: var(--secondary-color);
    padding: 0.5rem 2.2rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  .back-button:hover {
    transform: scale(1.05);
    background-color: rgba(147, 125, 166, 1);
  }
</style>
