<a href="/portfolio" class="button-link">SE PORTFOLIO</a>

<style>
  .button-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 0.5rem 2.2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  .button-link:hover {
    transform: scale(1.05);
    background-color: var(--hover-color) }
</style>
