---
import Logo from "../assets/img/MaksoFilm_Logo.svg";
---
<footer>
  <div class="footer">
      <a href="/"><Logo class="logo footer_left"/></a>
    <div class="footer_center">
      <a href="kontakt" class="underline-animation">Send mig en besked!</a>
      <a href="/kontakt" class="arrow-button"><svg class="arrow" width="15" height="15" viewBox="0 0 38 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.621595 8.88514C0.160856 9.37773 0.20145 10.172 0.712266 10.6591L9.0365 18.5978C9.54731 19.0849 10.3349 19.0805 10.7957 18.5879C11.2564 18.0953 11.2158 17.3011 10.705 16.8139L3.30567 9.75735L9.97961 2.62197C10.4404 2.12938 10.3998 1.33514 9.88894 0.847982C9.37812 0.360829 8.59052 0.36524 8.12978 0.857835L0.621595 8.88514ZM37.1666 9.5677L37.1025 8.3133L1.4824 8.5128L1.54651 9.76721L1.61062 11.0216L37.2308 10.8221L37.1666 9.5677Z"
          fill="#FFE8BD"></path>
      </svg></a>
    </div>
    <div class="footer_right">
      <a href="https://www.instagram.com/mads.krause/" target="_blank" class="social underline-animation">Instagram</a>
      <a href="https://www.linkedin.com/in/mads-krause/" target="_blank" class="social underline-animation">LinkedIn</a>
    </div>
  </div>
</footer>
<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to top, var(--secondary-color), transparent);
  }

  .footer_left {
    width: 100%;
    max-width: 330px;
  }

  .footer_center {
    display: none;
  }

  .social {
    font-family: "Manrope", sans-serif;
    color: var(--primary-color);
    font-size: 2.5rem;
    cursor: pointer;
  }


  .footer_right {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: linear-gradient(to top, var(--secondary-color), transparent);
    }
    .footer_left {
      width: 180px;
      margin-left: 2rem;
    }
    .footer_center {
      display: flex;
      gap: 1.2rem;
      margin-left: 1rem;
      align-items: center;
    }


    
    .arrow-button {
      padding: 5px 35px;
      background-color: transparent;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      border-radius: 5px;
      cursor: pointer;
    }
    .arrow-button:hover {
      scale: 1.05;
      background-color: var(--hover-color);
    }

    .arrow{
      rotate: 180deg;
    }

    .footer_right {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-right: 2rem;
    }
    .social {
      font-size: 1.5rem;
    }
  }
</style>
