<div class="grid_1_1">
  <div class="servicelink">
    <h2>Filmproduktion</h2>
    <a href="/services" class="button" aria-label="G책 til service">
      <img src="src/assets/img/backarrow.svg" alt="arrow" class="arrow" />
    </a>
  </div>
  <div class="servicelink">
    <h2>Podcast</h2>
    <a href="/services" class="button" aria-label="G책 til service">
      <img src="src/assets/img/backarrow.svg" alt="arrow" class="arrow" />
    </a>
  </div>
  <div class="servicelink">
    <h2>Videooptagelser</h2>
    <a href="/services" class="button" aria-label="G책 til service">
      <img src="src/assets/img/backarrow.svg" alt="arrow" class="arrow" />
    </a>
  </div>
  <div class="servicelink">
    <h2>Livestream</h2>
    <a href="/services" class="button" aria-label="G책 til service">
      <img src="src/assets/img/backarrow.svg" alt="arrow" class="arrow" />
    </a>
  </div>
</div>
<style>
  .grid_1_1 {
    display: grid;
    gap: 12px;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .servicelink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    margin-block: 12px;
    padding-block: 12px;
    gap: 8px;
  }
  h2 {
    font-weight: 200;
  }
  .button {
    background-color: var(--secondary-color);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 30px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  .button:hover {
    transform: scale(1.05);
    background-color: var(--hover-color);
  }
  .arrow {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
  }

  @media (min-width: 768px) {
    .grid_1_1 {
      grid-template-columns: 1fr 1fr;
      gap: 24px 80px;
      padding: 32px;
    }
  }
</style>
