<form class="formular" aria-label="Kontaktformular">
  <input id="navn" name="navn_text" type="text" placeholder="Navn" required/>
  <input id="email" name="email" type="email" placeholder="E-mail" required/>
  <input id="tlf" name="tlf" type="tel" placeholder="Telefon" required/>
  <select class="select">
    <option value="" disabled selected hidden>Jeg er interesseret i...</option>
    <option value="Filmoptagelse">Filmoptagelse</option>
    <option value="Podcast">Podcast</option>
    <option value="Livestream">Livestream</option>
    <option value="Redigering">Redigering</option>
    <option value="Andet">Andet</option>
  </select>
  <div>
    <label for="besked">Fortæl mig om dit projekt!</label>
    <span id="besked" role="textbox" contenteditable autocapitalize="sentences"></span>
  </div>
  <button class="knap underline-animation" type="submit">Send</button>
</form>

<style>
  .formular {
    background-color: var(--hover-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--main-font);
    width: 100%;
    max-width: 750px;
    padding: 40px;
    border-radius: 12px;
  }

  .formular input::placeholder,
  .formular textarea::placeholder {
    font-family: var(--main-font);
    color: var(--black-color);
  }

  .formular input,
  .formular textarea {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--secondary-color);
  }

  .formular label {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
  }

  .formular input:focus,
  .formular textarea:focus, #besked:focus {
    outline: none;
    box-shadow: none;
    font-family: var(--main-font);
  }
  .select {
    background: none;
    font-size: 1rem;
    padding-bottom: 12px;
    font-family: var(--main-font);
    font-size: 1.1rem;
    border: none;

    border-bottom: 2px solid var(--secondary-color);
  }
  .custom-select:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid var(--secondary-color);
  }

  #besked {
 display: block;
 width: 100%;
 height: 4.5em;
 overflow: hidden;
 resize: both;
 line-height: 1.5em;
 border-bottom: 2px solid var(--secondary-color);
 font-size: 1.1rem;
 font-family: var(--main-font);
 margin-top: .75em;
 text-align: left;
}
#besked[contenteditable]:empty::before {
  content: "Skriv her...";
  color: var(--black-color);
}

  .knap {
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: auto;
    padding: 4px 48px;
  }


  @media screen and (min-width: 975px) {
    .formular {
      justify-self: start;
      place-self: center;
    }
  }
</style>
