---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="../../public/MaksoFilm_logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>MaksoFilm</title>
	</head>
	
	<body>
		<slot />
	</body>
</html>

